
span.tree_expander_dark{
  display:inline-block;
  color:#d4d4d4;
  width:10px;
  height:16px;
  transform:scale(1.5);
  transform-origin:5px 10px;
  user-select:none;
}

span.tree_expander_dark:hover {
  cursor:pointer;
}
