
span.tree_expander_light{
  display:inline-block;
  width:10px;
  height:16px;
  transform:scale(1.5);
  transform-origin:5px 10px;
  user-select:none;
}

span.tree_expander_light:hover {
  cursor:pointer;
}
