
li.tree_folder_light[aria-selected="true"] > span.tree_title_light{
  background-color:#cbe8f7;
  border-color:#26a0db;
}

li.tree_file_light[aria-selected="true"] > span.tree_title_light{
  background-color:#cbe8f7;
  border-color:#26a0db;
}

span.tree_title_light{
  color:black;
  cursor:pointer;
  display:inline-block;
  vertical-align:top;
  min-height:20px;
  padding:0 3px 0 3px;
  margin:0px 0 0 3px;
  border:1px solid transparent;
  border-radius:0px;
}

span.tree_title_light:hover {
  cursor:pointer;
}
