
ul.tree_root_light {
  position:relative;
  border:1px none;
  background-color:white;
  overflow:visible;
  font-family:tahoma, arial, helvetica;
  font-size: 10pt;
  white-space:nowrap;
  padding:0px;
  margin:0px;
}
