
img.tree_icon_light{
  width:16px;
  height:16px;
  margin-left:3px;
  margin-top:2px;
  vertical-align:top;
  border-style:none;
  user-select:none;
}

img.tree_icon_light:hover {
  cursor:pointer;
}
