
li.tree_folder_dark[aria-selected="true"] > span.tree_title_dark{
  background-color:rgba(255, 255, 255, 0.06);
  border-color:#26a0db;
}

li.tree_file_dark[aria-selected="true"] > span.tree_title_dark{
  background-color:rgba(255, 255, 255, 0.06);
  border-color:#26a0db;
}

span.tree_title_dark{
  color:#838383;;
  cursor:pointer;
  display:inline-block;
  vertical-align:top;
  min-height:20px;
  padding:0 3px 0 3px;
  margin:0px 0 0 3px;
  border:1px solid transparent;
  border-radius:0px;
}

span.tree_title_dark:hover {
  cursor:pointer;
}
